micronaut:
  application:
    name: stackoverflowCli

stackoverflow:
  api:
    url: https://api.stackexchange.com/2.2
  auth:
    client:
      url: https://stackoverflow.com
      clientId: 18426
      scope: no_expiry
      secret: "Exported"
      key: )59r1iBapYkjTuslm52RRg((
    server:
      host: localhost
      port: 8085
      context: /auth
      redirectUri: "http://${stackoverflow.auth.server.host}:${stackoverflow.auth.server.port}${stackoverflow.auth.server.context}"
      timeout: 60